n8n.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/semgrep.yml/runs?per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "3f80bf97-eb54-4b02-a82f-86a96925e96c",
      "name": "Get Latest Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6768,
        2688
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        7840,
        2704
      ],
      "id": "6df8b607-0b3a-4dff-ba1a-161b8cf82f19",
      "name": "Decompress Zip1"
    },
    {
      "parameters": {
        "amount": 180,
        "unit": "seconds"
      },
      "id": "99815a63-84d3-4a20-a412-91ba9061d79c",
      "name": "Wait 30s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        6944,
        2704
      ],
      "webhookId": "9b5ac1ab-f22e-4919-af6d-05f33a5a3e60"
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.workflow_runs[0].id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "14e36966-ab4a-40fc-a156-67520a4e7c29",
      "name": "Check Run Status2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7136,
        2704
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.id}/artifacts` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "9320e6a8-2496-4d94-ab3c-f400e0e6c813",
      "name": "List Artifacts2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7360,
        2688
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/artifacts/{{$json.artifacts[0].id}}/zip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+zip"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "613223ba-7593-41c5-ac2a-2a2c3bbef277",
      "name": "Download Artifact2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7536,
        2688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/semgrep.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"ref\": \"main\"}",
        "options": {}
      },
      "id": "062dad49-9719-4fbf-8482-77312fa71689",
      "name": "Trigger SAST Workflow2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6416,
        2640
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/v2/import-scan/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 62fffb701219ce77024b2d9502ecefc069923959"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_name",
              "value": "DVWA"
            },
            {
              "name": "engagement_name",
              "value": "sast"
            },
            {
              "name": "scan_type",
              "value": "Semgrep JSON Report"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "name": "close_old_findings",
              "value": "false"
            },
            {
              "name": "push_to_jira",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8128,
        2688
      ],
      "id": "fac09361-1dc8-467a-b92b-fe4f0e7a93ba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/snyk.yml/runs?per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "5be73f8b-5ce5-4af6-8d99-10ab882f1da3",
      "name": "Get Latest Run1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6992,
        3008
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        8096,
        3008
      ],
      "id": "b3a5e8f0-2d7a-4891-8061-97be5d4e7e23",
      "name": "Decompress Zip2"
    },
    {
      "parameters": {
        "amount": 180,
        "unit": "seconds"
      },
      "id": "4e276b83-9118-4fff-8844-a73f151fae44",
      "name": "Wait 30s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        7200,
        3008
      ],
      "webhookId": "9b5ac1ab-f22e-4919-af6d-05f33a5a3e60"
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.workflow_runs[0].id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "4f66eb29-6db7-4b7b-bd63-c3e22593d959",
      "name": "Check Run Status3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7376,
        3008
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.id}/artifacts` }}",
        "options": {}
      },
      "id": "49fdf06b-6c4f-4808-a0a7-31e8eefe027c",
      "name": "List Artifacts3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7728,
        3008
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/artifacts/{{$json.artifacts[0].id}}/zip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+zip"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b557ec27-0902-419d-9268-78b7aca09b50",
      "name": "Download Artifact3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7856,
        3008
      ]
    },
    {
      "parameters": {
        "content": "# 🔐 **SCA**\n\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7264,
        2928
      ],
      "typeVersion": 1,
      "id": "a6570c87-8c18-4775-8d94-2844d792fc21",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/v2/import-scan/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 62fffb701219ce77024b2d9502ecefc069923959"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_name",
              "value": "DVWA"
            },
            {
              "name": "engagement_name",
              "value": "SCA"
            },
            {
              "name": "scan_type",
              "value": "Snyk Scan"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "name": "close_old_findings",
              "value": "false"
            },
            {
              "name": "push_to_jira",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8336,
        3008
      ],
      "id": "6c99848e-d05e-40e7-86f7-feecc6c56897",
      "name": "Upload to defectdojo"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/secret-scan.yml/runs?per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "8fb6e56d-19ce-4a31-909f-55eee75277f6",
      "name": "Get Latest Run2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7168,
        3392
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        8160,
        3392
      ],
      "id": "049786cb-6c84-4a57-991e-d603bb68de74",
      "name": "Decompress Zip3"
    },
    {
      "parameters": {
        "amount": 180,
        "unit": "seconds"
      },
      "id": "b25a89ee-82c2-4ecb-8235-7f74b721d864",
      "name": "Wait 30s4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        7328,
        3392
      ],
      "webhookId": "9b5ac1ab-f22e-4919-af6d-05f33a5a3e60"
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.workflow_runs[0].id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "dc511457-e4ec-49e6-abbe-eb12d01bad20",
      "name": "Check Run Status4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7504,
        3392
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.id}/artifacts` }}",
        "options": {}
      },
      "id": "5c97c5a0-a2c4-471d-b62b-eeaef95b3881",
      "name": "List Artifacts4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7696,
        3392
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/artifacts/{{$json.artifacts[0].id}}/zip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+zip"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "c0ed4163-a7d3-466c-81e1-e6c0fdb1174f",
      "name": "Download Artifact4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7952,
        3392
      ]
    },
    {
      "parameters": {
        "content": "# 🔐 **SECRET  SCANNING**\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7552,
        3280
      ],
      "typeVersion": 1,
      "id": "7e7c796e-4d23-4215-aa12-ea2cf1a06a46",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/v2/import-scan/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 62fffb701219ce77024b2d9502ecefc069923959"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_name",
              "value": "DVWA"
            },
            {
              "name": "engagement_name",
              "value": "Secret Scan"
            },
            {
              "name": "scan_type",
              "value": "SARIF"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "name": "close_old_findings",
              "value": "true"
            },
            {
              "name": "push_to_jira",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8512,
        3392
      ],
      "id": "af156ee0-b614-4435-bb32-b37487ab4175",
      "name": "Upload to defectdojo1"
    },
    {
      "parameters": {
        "content": "# 🔐 **SAST**\n## **Static Application Security Testing**\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7024,
        2496
      ],
      "typeVersion": 1,
      "id": "76a0ee20-df2f-454a-baa2-5e4183a21687",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/image-scan.yml/runs?per_page=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "2546d28e-bd01-4732-bf99-82eaca129ff5",
      "name": "Get Latest Run3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7136,
        3744
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        8176,
        3744
      ],
      "id": "90e677df-0188-4fe4-bfcc-121de0ef9b67",
      "name": "Decompress Zip4"
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.workflow_runs[0].id}` }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "61d70fa8-ffad-4117-9005-57b0ed002e7a",
      "name": "Check Run Status5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7472,
        3744
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ `https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/runs/${$json.id}/artifacts` }}",
        "options": {}
      },
      "id": "f4b1e9f8-4334-4a75-a7c4-2c67b8b67545",
      "name": "List Artifacts5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7664,
        3744
      ]
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/artifacts/{{$json.artifacts[0].id}}/zip",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+zip"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3e262176-34bf-46f2-a64d-386bd8873b6c",
      "name": "Download Artifact5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        7920,
        3744
      ]
    },
    {
      "parameters": {
        "content": "# 🔐 **IMAGE SCANNING**\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7472,
        3632
      ],
      "typeVersion": 1,
      "id": "b2a5760b-168d-43e2-acd4-1f841eea2512",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "amount": 180,
        "unit": "seconds"
      },
      "id": "1fa4314a-a393-46c3-822a-5153e0f73040",
      "name": "Wait 3 minutes",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        7296,
        3744
      ],
      "webhookId": "9b5ac1ab-f22e-4919-af6d-05f33a5a3e60"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        6144,
        2736
      ],
      "id": "1435a150-19a6-4efc-bb9b-83f64bb2af98",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/snyk.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"ref\": \"main\"}",
        "options": {}
      },
      "id": "fa056aba-d407-4156-87cc-a279a5bba88b",
      "name": "Trigger SCA Workflow3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6544,
        3008
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8080/api/v2/import-scan/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token 62fffb701219ce77024b2d9502ecefc069923959"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "product_name",
              "value": "DVWA"
            },
            {
              "name": "engagement_name",
              "value": "image-scan"
            },
            {
              "name": "scan_type",
              "value": "Trivy Scan"
            },
            {
              "name": "active",
              "value": "true"
            },
            {
              "name": "verified",
              "value": "true"
            },
            {
              "name": "minimum_severity",
              "value": "Info"
            },
            {
              "name": "close_old_findings",
              "value": "true"
            },
            {
              "name": "push_to_jira",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file_0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        8496,
        3744
      ],
      "id": "8e3ff971-3a91-495f-aafb-d42627dbc63c",
      "name": "Upload to defectdojo3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/image-scan.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"ref\": \"main\"}",
        "options": {}
      },
      "id": "77e44340-d296-48e1-98e8-bf33d429776d",
      "name": "Trigger IMAGE_SCAN Workflow5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6624,
        3760
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/sahalht/devsecops-cicd-lab/actions/workflows/secret-scan.yml/dispatches",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"ref\": \"main\"}",
        "options": {}
      },
      "id": "fa3503d0-250a-4b0b-8de1-11a7169c3d36",
      "name": "Trigger Secret scanning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        6656,
        3392
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "HqGpk9npIVyGUW3I",
          "name": "Bearer Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6624,
        2676.7912395179906
      ],
      "id": "c15fb184-78f6-4878-850d-babf79a19643",
      "name": "Wait",
      "webhookId": "7aff3992-a064-4546-8af4-27b9e13eb1e8"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6752,
        3008
      ],
      "id": "e5ebdf75-f3b6-4c7b-ae67-31a52fff2f52",
      "name": "Wait1",
      "webhookId": "18718c9d-82f0-4a3e-965e-2015f0a3b105"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6864,
        3392
      ],
      "id": "b5bce1a4-a6d5-46c2-9a9a-a76498b0b167",
      "name": "Wait2",
      "webhookId": "7ad2d4ba-a60e-4e7a-ba6b-f0c5b6e89eef"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6832,
        3760
      ],
      "id": "7f732563-b36b-440a-a080-c730939a44d6",
      "name": "Wait3",
      "webhookId": "40d8edfc-a360-4feb-b5f6-a3a13d8a07a9"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7584,
        3008
      ],
      "id": "1f728c2f-e328-4ad8-a70e-ee33580550fa",
      "name": "Wait4",
      "webhookId": "95d6f7a6-934b-455b-a121-25f48aaa1d10"
    }
  ],
  "connections": {
    "Get Latest Run": {
      "main": [
        [
          {
            "node": "Wait 30s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Zip1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s2": {
      "main": [
        [
          {
            "node": "Check Run Status2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status2": {
      "main": [
        [
          {
            "node": "List Artifacts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Artifacts2": {
      "main": [
        [
          {
            "node": "Download Artifact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact2": {
      "main": [
        [
          {
            "node": "Decompress Zip1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger SAST Workflow2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Trigger SCA Workflow3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Run1": {
      "main": [
        [
          {
            "node": "Wait 30s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Zip2": {
      "main": [
        [
          {
            "node": "Upload to defectdojo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s3": {
      "main": [
        [
          {
            "node": "Check Run Status3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status3": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Artifacts3": {
      "main": [
        [
          {
            "node": "Download Artifact3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact3": {
      "main": [
        [
          {
            "node": "Decompress Zip2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to defectdojo": {
      "main": [
        [
          {
            "node": "Trigger Secret scanning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Run2": {
      "main": [
        [
          {
            "node": "Wait 30s4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Zip3": {
      "main": [
        [
          {
            "node": "Upload to defectdojo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s4": {
      "main": [
        [
          {
            "node": "Check Run Status4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status4": {
      "main": [
        [
          {
            "node": "List Artifacts4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Artifacts4": {
      "main": [
        [
          {
            "node": "Download Artifact4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact4": {
      "main": [
        [
          {
            "node": "Decompress Zip3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to defectdojo1": {
      "main": [
        [
          {
            "node": "Trigger IMAGE_SCAN Workflow5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Latest Run3": {
      "main": [
        [
          {
            "node": "Wait 3 minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompress Zip4": {
      "main": [
        [
          {
            "node": "Upload to defectdojo3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Run Status5": {
      "main": [
        [
          {
            "node": "List Artifacts5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Artifacts5": {
      "main": [
        [
          {
            "node": "Download Artifact5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Artifact5": {
      "main": [
        [
          {
            "node": "Decompress Zip4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 minutes": {
      "main": [
        [
          {
            "node": "Check Run Status5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Trigger SAST Workflow2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger SCA Workflow3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger IMAGE_SCAN Workflow5": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Secret scanning": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Latest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Latest Run1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Latest Run2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Get Latest Run3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "List Artifacts3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "348cab47c2ff469196e1ebf52de00089ea70b7ded62ec0597094957b442347ee"
  }
}
